#home {
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgb(0, 0, 6),
      rgba(0, 0, 0, 0.5)
    ),
    url(../../assets/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
