.container-fluid {
  padding: 0;
}

a.navbar-brand {
  font-size: 2.5rem;
  font-weight: 600;
}

a.nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

a.nav-link:hover {
  color: var(--mainhc);
}
